body {
    color: white;
    background-color: black;
}

.topbar {
    color: black;
    background-color: #925656;
    width: 100%;
    min-width: 100%;
    height: 10%;
}

.topbar-content {
    font-size: 3em;
}

.shell {
    background-color: rgb(66, 66, 66);
    color: rgb(238, 238, 238);
}

input {
    width: 100%;
}